extends ./layout/index.pug
block content
    .container
        .row
            .col-12
                h2.text-center.mt-2 Crear cita

                .row
                    .col-12.col-md-6.offset-md-3 
                        form.mt-2(action="/crearCita" method="POST")
                            input.form-control.mb-2(type="text", name="nombre" placeholder="Nombre" autocomplete="off" required="true" value=nombre)
                            textarea.form-control.mb-2(name="sintomas" rows="10" placeholder="Sintomas" required="true" value=sintomas)
                            input.form-control.mb-2(type="date", name="fecha_cita" autocomplete="off" required="true" value=fecha_cita)
                            input.form-control.mb-2(type="text" placeholder="Nombre del dueño" autocomplete="off" required="true" name="nombre_propietario" value=nomre_propietario) 
                            button.btn.btn-primary.mx-auto.d-block(type="submit") Aceptar



