extends ./layout/index.pug
block content
    .container
        .row
            .col-12.col-md-10.offset-md-1 
                h2.text-center.mt-2 Proyecto final de Sistemas de información 
                h3 Grupo: 2858
                p CRUD para administrar las citas en una veterinaria, para crear una cita dar click en la sección correspondiente en el #[em navbar], y para ver todas las citas de igual forma dar click en la sección correspondiente.

                h3 Integrantes: 
                .row
                    .col-6 
                        .card
                            img.card-img-top(src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg" alt="")
                            .card-body
                                h5.card-title Dayra Velasco Martell
                                p.card-text Estudiante de ingeniería en computación
                    .col-6 
                        .card
                            img.card-img-top(src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg" alt="")
                            .card-body
                                h5.card-title Alan Giovanni Sandoval Jiménez
                                p.card-text Estudiante de ingeniería en computación




