extends ./layout/index.pug
block content 
    .container
        .row
            .col-12
                h2.text-center.mt-2 Todas las citas

                .table-responsive
                    table.table.table-striped.table-bordered
                        tr
                            th Nombre 
                            th Sintomas 
                            th Fecha cita
                            th Nombre propietario
                            th Editar 
                            th Borrar
                        if(citas.length > 0)
                            each cita in citas
                                tr
                                    td #{cita.nombre}
                                    td #{cita.sintomas}
                                    td #{cita.fecha_cita}
                                    td #{cita.nombre_propietario}
                                    td.text-center 
                                        a(href=`/edit/${cita.id}`) 
                                            i.fa-solid.fa-pen-to-square
                                    td.text-center 
                                        a.text-danger(href=`/delete/${cita.id}`) 
                                            i.fa-solid.fa-circle-minus
