nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container-fluid
        a.navbar-brand(href='/') Administrador de citas
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.text-white
                li.nav-item
                    a.nav-link(href='/') Inicio
                li.nav-item
                    a.nav-link(href='/crearCita') Crear cita
                li.nav-item
                    a.nav-link(href='/verCitas') Ver todas las citas